*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    min-width: 1400px;
    margin: 0 auto;
}
img{
  max-width:100%;
}
:root{
    --Preto: #00000;
    --fonte-titulo: "Harmattan", sans-serif;
    --fonte-texto: "Geologica", sans-serif;
}
body{
    font-family: var(--fonte-texto);
}
header {
    background-color: black;
    padding: 10px 0;
    max-height: 80px;
    
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
  }
  .logo img {
    height: 55px;
  }
  #menu > ul{
    display: flex;
    gap:40px;
    position: relative;
    right: 200px;
  }
  #menu li{
    color: white;
    list-style:none;
  }
  #menu a{
    text-decoration:none;
  }
  #sobrenos{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap:15px;
    padding: 30px;
  }

  #bt-SN {
    display: grid;
    grid-column: 1;
  }

  #SN-img{
    display: grid;
    grid-column: 2 / -1;
    width: 550px;
    margin: 10px auto;
    margin-top: 70px;
  }
  #sobrenos p{
    font-size: 25px;
  }
  #sobrenos h1{
    font-size: 40px;
    text-align: center;
    margin: 20px;
  } 
  #descricao1 p{
    font-size: 25px;
    margin: 20px;
  }
  #descricao1 h1{
    font-size: 35px;
    margin: 0px 10px;
    margin-left: 250px;
  } 
  #descricao{
    display: flex;
    gap: 60px;
    justify-content:center;
    text-align:center;
  }
  #descricao h2{
    font-size: 19px;
    align-items: center;
    text-align: center;
  }
  #titulo{
    display:flex;
    justify-content:space-around;
  }
  #titulo>img{
    height:300px;
    margin-top:20px;
    margin-bottom:20px;
  
  }
  #ppa h1{
    margin-left: 400px;
  }
  #titulo h1{
    font-size: 100px;
  }
  footer img{
    width:100%;
  }
  #professores {
    background-color:black;
    color:white;
  }
  #professores div{
    display:flex;
  }
  #equipes{
    background-color:black;
    color:white;
  }
  #ppa {
    font-size:25px;
  }
  #professores{
    font-size:25px;
  }
  #banner img{
    width:100%;
  }

  .bt-branco{

    width: 200px;
    height: 50px;
    font-family: var(--fonte-texto);
    background-color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    display:  inline-block;
    text-decoration: none;
  }

  .bt-branco a {
    text-decoration: none;
    color: black;
  }