*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    min-width: 1400px;
    margin: 0 auto;
}
img{
  max-width:100%;
}
:root{
    --Preto: #00000;
    --fonte-titulo: "Harmattan", sans-serif;
    --fonte-texto: "Geologica", sans-serif;
}
body{
    font-family: var(--fonte-texto);
}
header {
    background-color: black;
    padding: 10px 0;
    max-height: 80px;
    
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
  }
  .logo img {
    height: 55px;
  }
  #menu > ul{
    display: flex;
    gap:40px;
    position: relative;
    right: 200px;
  }
  #menu li{
    color: white;
    list-style:none;
  }
  #menu a{
    text-decoration:none;
  }
  #sobrenos{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap:15px;
    padding: 30px;
  }

  #SN-img{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 550px;
    margin: 10px auto;
    margin-top: 90px;
  }
  #sobrenos p{
    font-size: 25px;
  }
  #sobrenos h1{
    font-size: 40px;
    text-align: center;
    margin: 20px;
  } 
  #descricao1 p{
    font-size: 25px;
    margin: 20px;
  }
  #descricao1 h1{
    font-size: 35px;
    margin: 0px 10px;
    margin-left: 250px;
  } 
  #descricao{
    display: flex;
    gap: 60px;
    justify-content:center;
    text-align:center;
  }
  #descricao h2{
    font-size: 19px;
    align-items: center;
    text-align: center;
  }
  #titulo{
    display:flex;
    justify-content:space-around;
  }
  #titulo>img{
    height:300px;
    margin-top:20px;
    margin-bottom:20px;
  
  }
  #ppa h1{
    margin-left: 400px;
  }
  #titulo h1{
    font-size: 100px;
  }
  footer img{
    width:100%;
  }
  #professores {
    background-color:black;
    color:white;
  }
  #professores div{
    display:flex;
  }
  #equipes{
    background-color:black;
    color:white;
  }
  #ppa {
    font-size:25px;
  }
  #professores{
    font-size:25px;
  }
  #banner img{
    width:100%;
  }

  .bt-branco{
    width: 200px;
    height: 50px;
    font-family: var(--fonte-texto);
    background-color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

  .bt-branco p {
    padding-top: 5px;
    text-decoration: none;
    color: black;
  }
  .cursos img{
    height:200px;
    width: 200px;
    margin-left: 100px;
  }
  .cursos p{
    margin: 5px;
  }
  .cursos h1{
    margin: 15px 0;
    text-align: center;
  }
  .cursos{
    background-color: black;
    width: 380px;
    text-align: center;
    color: aliceblue;
    margin: 20px;
    border: 10px white solid;
    border-radius: 10px;
  }
  .qrap1{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
    padding: 40px 0;
  }
  .c11 img{
    width: 420px;
    margin-left: 0px;
  }
  .introducao{
    font-size: 25px;   
    border: 20px black solid; 
    padding: 10px;
  }
  #cursossup{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
  }
  .conclusao{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
  }
  #qrtb1 img{
    height: 300px;
  }
  .titulohome{
    margin-left:550px;
  }
  .tituloqrtr{
    margin-left: 580px;
    margin-top: 20px;
  }
  #VG-A{
    background-color: black;
    color: white;
  }